* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background: linear-gradient(to top right, rgb(210, 221, 243, 0.8) 20%, rgb(252, 206, 200, 0.5) 120%);

  font-family: 'Futura', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to top right, rgb(210, 221, 243, 0.8) 20%, rgb(252, 206, 200, 0.5) 120%);
  font-size: 1em;
}

button {
  font-family: 'Futura', sans-serif !important;
}